<div class="container">
    <h1>Edit Profile</h1>
    <div class="row form-group">
      <label for="majorSelect">Major</label>
      <select class="form-control" id="majorSelect">
        <option></option>
      </select>
    </div>
    <div class="row form-group">
      <label for="yearSelect">Year</label>
      <select class="form-control" id="yearSelect">
        <option>Freshman</option>
        <option>Sophomore</option>
        <option>Junior</option>
        <option>Senior</option>
      </select>
    </div>
    <div class="row form-group">
      <label for="majorSelect">Department</label>
      <label class="disabled">DepartmentName</label>
    </div>
</div>