    <div class="container-fluid">
      <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="#/profile">Profile</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#/studentapps">My Applications</a>
              </li>
          </ul>
          <a class="navbar-brand" href="#">Log Out</a>

      </nav>
    </div>

    <div class="container">
      <h1 class="display-3">Search for a Course/Project</h1>
      <form id="searchform" method ="post" action="/search">

      <div class="row form-group">
        <div class="col-lg-6">
          <label for="title"> Title </label>
          <input id="title" class="form-control" type="text" name="title" ng-model="data.title" placeholder="">
        </div>

        <!-- must use a dropdown for category -->
  <form name="myForm">
    <label for="category"> Category: </label>
    <select size="1" name="category" ng-model="data.category" multiple>
      <option ng-repeat="option in data.categories" ng-value="option">//option[0]//</option>
    </select>
  </form>
  <hr>
      <div class="row form-group">
        <div class="col-lg-6">
          <label for="designations">Designation</label>
          <select name="designations" ng-model="data.designation">
      <option ng-repeat="option in data.designations" ng-value="//option//">//option[0]//</option>
    </select>
        </div>

        <div class="col-lg-3">
          <label for="major">Major</label>
          <select name="major" ng-model="data.major">
      <option ng-repeat="option in data.majors" ng-value="//option.value//">//option//</option>
    </select>

        </div>

        <!-- leave hardcoded -->
        <div class="col-lg-3">
          <label for="year">Year</label>
          <select class="form-control" id="year" ng-model="data.year">
            <option>Freshman</option>
            <option>Sophomore</option>
            <option>Junior</option>
            <option>Senior</option>
          </select>
        </div>
      </div>    
<form>
 <label ng-repeat="type1 in data.types">
     //type1//
       <input type="radio"
              ng-model="data.type"
              ng-value="type1"
              style="margin: 0px 5px 0px 0px"
              >
     </label>
</form>

      <form ng-submit="query()">
      <input type="submit"id="apply-filter-btn" class="btn btn-primary pull-right" value="Apply Filter" />
      
      <button id="reset-filter-btn" class="btn btn-primary pull-right" type="reset" style="margin: 0px 5px 0px 0px">Reset Filter</button>
      </form>
    </div>

    </form>
    </div>

</div>
<div class="divider"></div>

<!--   results table -->
  <div class="container">
      <table class="table table-hover table-striped">
        <td> Name </td>
        <td> Type </td>
         <tr ng-repeat="x in data.projects">
          <td> //x.proj[0]// </td>
          <td> //x.type// </td>
          </tr>
      </table>
    </div>
  </div>
