<!--Nav bar-->
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#/profile">Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/main">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/studentapps">My Applications</a>
            </li>
        </ul>
        <a class="navbar-brand" href="#">Log Out</a>
    </nav>
</div>
<!--Nav bar-->
    <div class="jumbotron">
        <h1>Profile</h1>
        <h3>Username: //data.username//</h3>
        <h3>Email: //data.email//</h3>
        <h3>Major: //data.selectedMajor.Major_Name//</h3>
        <h3>Department: //data.selectedDepartment//</h3>
        <h3>Year: //data.selectedYear//</h3>
        <button id="edit-prof-btn" class="btn btn-primary" onclick="location.href='#/editprofile'"> Edit Profile </button>
    </div>
</div>