<!-- Admin Navbar-->
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">View Applications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Popular Project Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Application Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/addproject">Add a Project</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/addcourse">Add a Course</a>
            </li>
        </ul>
        <a class="navbar-brand" href="#">Log Out</a>
    </nav>
</div>
<!-- Admin Navbar-->
    
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Add Course</h1>
        <div ng-show="error" class="alert alert-danger">//errorMessage//</div>
        <form id="courseform" method ="post" action="/register">
            <div class="form-group">
                <label for="number"> Course Number </label>
                <input id="number" class="form-control" type="text" name="number" ng-model="registerform.number" placeholder="Course Number">
            </div>
            <div class="form-group">
                <label for="name"> Course Name </label>
                <input id="name" class="form-control" type="text" name="name" ng-model="registerform.name" placeholder="Course Name">
            </div>
            <div class="form-group">
                <label for="instructor"> Course Instructor </label>
                <input id="instructor" class="form-control" type="text" name="instructor" ng-model="registerform.instructor" placeholder="Course Instructor">
            </div>
            <div class="form-group">
                <label for="confpassword"> Confirm Password </label>
                <input id="confpassword" class="form-control" type="text" name="confpassword" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <label for="desSelect"> Designation </label>
                <select class="form-control" id="majorSelect" ng-model="chooseDes" 
                ng-options="val for value in des">
                    <!--<option>Sustainable Communities</option>
                    <option>Community</option>-->
                </select>

            </div>
            <div class="form-group">
                <label for="majorSelect"> Category </label>
                <select class="form-control" id="majorSelect">
                    <option>Computing for Good</option>
                    <option>Doing Good for Your Neighborhood</option>
                    <option>Reciprocal Teaching and Learning</option>
                    <option>Urban Development</option>
                    <option>Adaptive Learning</option>
                    <option>Technology for Social Good</option>
                    <option>Sustainable Communities</option>
                    <option>Crowd-sourced</option>
                    <option>Collaborative Action</option>
                </select>
            </div>
            <div class="form-group">
                <label for="confpassword"> Estimated Number of Students </label>
                <input id="confpassword" class="form-control" type="text" name="confpassword" ng-model="registerform.numStudents" placeholder="# of Students">
            </div>
            <button id="cancel-btn" class="btn btn-primary" type="submit">Clear</button>
            <button type="submit" id="register-btn" class="btn btn-primary" ng-click="register()">Add Course</button>
        </form>
    </div>
</div>