<!-- Admin Navbar-->
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#/adminapps">View Applications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/projectsreport">Popular Project Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/applicationreport">Application Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/addproject">Add a Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/addcourse">Add a Course</a>
            </li>
        </ul>
        <a class="navbar-brand" href="#">Log Out</a>
    </nav>
</div>
<!-- Admin Navbar-->
<h1>View Applications</h1>

<div class="container">
    <table id="appTable" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Project</th>
          <th>Applicant Major</th>
          <th>Applicant Year</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="proj in projects">
          <!-- change to proj in projects when done -->
          <td>//proj.name//</td>
          <td>//proj.major//</td>
          <td>//proj.year//</td>
          <td>//proj.status//</td>
        </tr>
      </tbody>
    </table>
</div>
